<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>GameView</title>
</head>
<body>
	<h2>キャラシート</h2>

		<thead>
		<tr>
			<th></th><br>
			<th></th>
		</tr>
		</thead>
		<tbody>

		<form>
			<p>職業:<input id="fighter" type="radio" name="company" value="figther" />
			<label for="figther">戦士</label>
			<input id="witch" type="radio" name="company" value="witch" />
			<label for="witch">魔法使い</label></p>
			<p>名前:<input type="form" /></p>
			<input type="submit"value="次へ" />
		</form>

		</tbody>
	</table>
</body>
</html>